#contact {
  background: url('../assets/Background_Contacts.png') no-repeat center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;

   h3 {
    margin-bottom: 8px;
   }

   p {
    margin-bottom: 48px;
   }

   .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
   }
}
